        <footer id="footer" class="bg-one">
          <div class="container">
              <div class="row wow fadeInUp" data-wow-duration="500ms">
              <div class="col-lg-12">
                
                <!-- Footer Social Links -->
                <div class="social-icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
                <!--/. End Footer Social Links -->

                <!-- copyright -->
                <div class="copyright text-center">
                  <a href="index.html">
                    <!--<img src="img/logo-madexplorers.png" alt="Meghna" /> -->
                    <%= image_tag("logo-madexplorers.png")%>
                  </a>
                  <br />
                  <!--
                  <p>Design And Developed by <a href="http://www.themefisher.com"> Themefisher Team</a>. Copyright &copy; 2015. All Rights Reserved.</p>-->
                </div>
                <!-- /copyright -->
                
              </div> <!-- end col lg 12 -->
            </div> <!-- end row -->
          </div> <!-- end container -->
        </footer> <!-- end footer -->